../.DS_Store
        ../.IdentityService/
        ../.Trash/
        ../.aspnet/
        ../.atom/
        ../.bash_history
        ../.bash_sessions/
        ../.bitnami/
        ../.config/
        ../.docker/
        ../.dotnet/
        ../.eclipse/
        ../.gitconfig
        ../.local/
        ../.mono/
        ../.npm/
        ../.nuget/
        ../.oracle_jre_usage/
        ../.p2/
        ../.ssh/
        ../.templateengine/
        ../.tooling/
        ../.viminfo
        ../.vscode/
        ../.zprofile
        ../.zsh_history
        ../.zsh_sessions/
        ../Desktop/.DS_Store
        ../Desktop/.localized
        ../Desktop/CW4 1.pdf
        ../Desktop/Zrzut ekranu 2021-03-23 o 18.26.58.png
        ../Desktop/apache-jmeter-5.4.1/
        ../Desktop/folder bez nazwy 2/
        ../Desktop/testy.txt
        ../Documents/
        ../Downloads/
        "../Grupa w\304\205tk\303\263w.jmx"
        ../Library/
        ../Movies/
        ../Music/
        ../Pictures/
        ../Public/
        ./
        ../homebrew/
        ../jmeter.log
        ../v2/